# Core dependencies
fastapi==0.104.1
uvicorn==0.24.0
pydantic==2.4.2
pydantic-settings==2.0.3

# Database
sqlalchemy==2.0.23
asyncpg==0.29.0
alembic==1.12.1
pyodbc==4.0.39

# AWS
boto3==1.29.3

# Authentication & Security
python-jose[cryptography]==3.3.0
passlib[bcrypt]==1.7.4
python-multipart==0.0.6

# Networking
httpx==0.25.1
sshtunnel==0.4.0
paramiko==3.4.0  # Updated to a compatible version
pyOpenSSL==23.2.0

# Utils
python-dotenv==1.0.0
aiofiles==23.2.1

psycopg2
PyJWT==2.8.0
netifaces==0.11.0
psutil